bin
*.iml
.idea
default.etcd
default.pd
*.swp
.DS_Store
tags
/.retools/
vendor
default*
*.bak
.vscode/
/.dashboard_download_cache
/.dashboard_build_temp
/.tools/bin
docs/swagger/*
!docs/swagger/placeholder.go
*.before
covprofile
coverage.tmp
package.list
report.xml
coverage.xml
coverage
*.txt
