name: TSO Function Test
on:
  push:
    branches:
      - master
      - release-5.*
      - release-6.*
  pull_request:
    branches:
      - master
      - release-5.*
      - release-6.*
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  tso-function-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Make TSO Function Test
        run: make test-tso-function
